/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html{
  background: linear-gradient(to left, rgb(200,230,230), rgb(100,130,130));
  /* background-color: rgb(200,230,230); */
  color:rgb(0, 0, 0);
  font-size: 62.5%;
  font-family: 'Vidaloka', serif;
  /* font-family: 'Roboto', sans-serif; */
}
body{
  /* border: 1px solid peru; */
  font-size: 2rem;
  max-width: 768px;
  margin: 0 auto;
}
h1{
  text-indent: 75px;
}
h3{
  font-size: 2.5rem;
}
h1, 
h3{
  font-family: 'Playfair Display SC', serif;
}
nav{
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}
nav div{
  display: flex;
  flex-direction: column;
  /* flex: 1;  */
  /* margin: 0 7.5px;   */
}
main{
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}
main h2{
  background:rgb(231,171,70);
  border: 1px solid rgb(151, 121, 98);
  padding: 18px 0;
  margin: 0;
}
h2+h2{
  background:rgb(220, 180, 149);
}
.remove-favorite{
  background:rgb(71, 71, 71);
  color: white;
}
/* Shadows */
main button,
img,
.ingredients-container,
.two-columns,
.instructions,
.ingredient-description{
  box-shadow: 0 0 44px -10px rgb(17 119 119);
}
img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
h2{
  font-family: 'Lobster', cursive;
  font-size: 5rem;
  text-align: center;
}
section{
  background: white;
}
.ingredients-container{
  min-width: 430px;
  max-width: 600px; 
  margin: 20px auto;
}
.ingredients-container table{
  border-collapse: collapse;
}

.ingredients-container h3{
  grid-column: 1 / -1;
}
h3{
  align-items: middle;
  text-align: center;
  padding-top: 15px;
  margin-top: 0;
  align-content: center;
}
.highlight{
  color: red;
}
.ingredients,
.measurements{
  padding: 6px 1%;
  margin: 0;
  width: 1760px;
}
#ingredients tr:nth-child(even){
  background:rgb(221,151,62);
}
#ingredients tr:nth-child(odd){
  background:rgb(231,171,70)
}
#ingredients{
  /* display: grid; */
  color:rgb(22, 35, 30);
  cursor: pointer;
  text-align: end;
}
.ingredient-description{
  cursor: pointer;
  background:rgb(231,171,70);
  position: fixed;
  max-width: 760px;
  /* width: 650px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10% 5%;
  margin: 0;
}
.measurements{
  color: rgb(42, 75, 52);
  /* text-indent: 10px; */
  padding-left: 10px;
  text-align: left;
  
}
.instructions{
  max-width: 750px;
  padding: 0 10%;
  margin: 10px auto;
}
#add-favorite button{
  display: block;
  margin: 5px auto;
}
p{
  font-size: 2rem;
  line-height: 3rem;
  padding-bottom: 30px;
}
footer a{
  display: block;
  color: rgb(42, 75, 52);
  text-indent: 80px;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden{
  display: none;
}