/* font-family: "Cereal", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */

/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html{
  background: linear-gradient(to left, rgb(200,230,230), rgb(100,130,130));
  color:rgb(0, 0, 0);
  font-size: 62.5%;
  font-family: 'Vidaloka', serif;
  /* font-family: 'Roboto', sans-serif; */
}
body{
  font-size: 2rem;
  max-width: 768px;
  margin: 0 auto;
  padding-bottom: 20px;
  list-style-type: none;
}
button{
  background: none;
  /* background: linear-gradient(to bottom,  rgb(42, 75, 52) -50%, rgb(189, 209, 209) 50%); */
  background: linear-gradient(to bottom, rgb(233, 207, 173) -35%, rgb(231,171,70) 80%);
  border: 1px solid black;
  border-radius: 5%;
  box-shadow: 1px 1px 3px rgb(42, 75, 52);
  width: 100%;
  padding: 10px 10px;
  /* transition: transform .3s, background .2s, box-shadow 1s; */
  transition: transform .2s, background .1s, color .2s, box-shadow .2s;
}
.favorites button{
  background: linear-gradient(to bottom, rgb(233, 207, 173) -35%, rgb(231,171,70) 80%);
  width: 100%;
}
button:hover{
  cursor: pointer;
  /* background: rgb(230,255,255); */
  background: rgb(255, 227, 179);
  box-shadow: inset 0px -0px 5px rgb(42, 75, 52);
  transform: scale(1.04);
}
.favorites button:hover{
  background: rgb(255, 227, 179);
}
input,
select, 
button{
  font-family: 'Roboto', sans-serif;
  padding: 10px 10px;
}
h1{
  text-indent: 75px;
  text-shadow: 1px 1px 2px rgb(43, 68, 58);
}
h1, 
h3{
  font-family: 'Playfair Display SC', serif;
}
nav{
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}
nav div{
  display: flex;
  flex: 2;
  flex-direction: column;
}
.favorites{
  display: block;
  margin: 20px 30%;
}
main{
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}
main > section{
  margin: 0 auto;
}
h2{
  font-family: 'Lobster', cursive;
  font-size: 9rem;
  text-align: center;
  text-shadow: 0 0 2px rgb(117, 78, 46);
  margin-top: 20px;
  margin-bottom: 0;
}
h3{
  font-size: 2.9rem;
  text-shadow: 1px 1px 2px rgb(43, 68, 58);
  align-items: center;
  text-align: center;
  letter-spacing: .7rem;
  margin-top: 23px;
  align-content: center;
}
.remove-favorite{
  background:rgb(71, 71, 71);
  color: white;
}
.remove-favorite:hover{
  color: black;
}
/* Shadows */
img,
.ingredients-container,
.two-columns,
.instructions{
  box-shadow: 0 0 44px -10px rgb(17 119 119);
}
img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.meals{
  text-align: left;
  padding: 10px 30px;
}
.ingredients-container,
.instructions{
  background: linear-gradient(127deg, rgb(230,255,255) 61%, rgb(182 212 212));
  border: 1px solid rgb(17 119 119);
}
.ingredients-container{
  min-width: 430px;
  max-width: 600px; 
  margin: 20px auto;
}
.ingredients-container table{
  border-collapse: collapse;
}
.ingredients-container h3{
  grid-column: 1 / -1;
}
.highlight{
  color: red;
}
.ingredients,
.measurements{
  font-size: 2.1rem;
  letter-spacing: .5px;
  padding: 6px 1%;
  margin: 0;
  width: 1760px;
}
#ingredients tr:nth-child(even){
  background:rgb(221,151,62);
}
#ingredients tr:nth-child(odd){
  background:rgb(231,171,70);
}
#ingredients tr:first-child{
  height: 45px;
  vertical-align: bottom;
}
#ingredients tr:last-child{
  height: 45px;
  vertical-align: top;
}
.ingredients{
  cursor: pointer;
  color:rgb(22, 35, 30);
  text-align: end;
  font-weight: bold;
  transition: color .3s;
}
.ingredients:hover{
  color: rgb(116, 76, 44);
}
.ingredient-description{
  position: fixed;
  cursor: pointer;
  background:rgb(231,171,70);
  border: 1px solid rgb(17 119 119);
  border-radius: 15px;
  box-shadow: 4px 4px 3px 0px rgb(17 119 119);
  max-width: 760px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6%;
  margin: 0;
}
.ingredient-description p{
  font-size: 1.8rem;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}
.measurements{
  color: rgb(42, 75, 52);
  padding-left: 10px;
  text-shadow: 1px 1px 0px rgb(0,0,0);
  text-align: left;
  letter-spacing: 2px;
}
.instructions{
  font-size: 2.5rem;
  line-height: 3.5rem;
  text-align: justify;
  max-width: 750px;
  margin: 10px auto;
  padding: 5% 10%;
  /* padding-bottom: 30px; */
}
#add-favorite-button{
  display: block;
  width: auto;
  margin: 5px auto;
  margin-top: 24px;
}
.selected{
  background: rgb(230,255,255);
}
footer a{
  display: block;
  color: rgb(230,255,255);
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  text-indent: 80px;
  text-shadow: 
    1px 1px 2px rgb(0,0,0), 
    -1px -1px 2px black,
    -1px 1px 2px black,
    1px -1px 2px black;
  text-decoration: none;
  margin: 1rem 0;
}
footer a:hover{
  text-decoration: underline;
  text-shadow: 2px 1px 3px rgb(22, 35, 30);
  transition: text-shadow .3s
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden{
  display: none;
}