/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html{
  background-color: rgb(185, 185, 185);
  color:rgb(0, 0, 0);
  font-size: 62.5%;
}
body{
  /* border: 1px solid peru; */
  font-size: 2rem;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 10px;
}
h1{
  text-indent: 75px;
}
nav{
  display: flex;
  justify-content: center;
  margin: 0;
}
nav div{
  display: flex;
  flex-direction: column;
  /* flex: 1;  */
  /* margin: 0 7.5px;   */
}
main{
  max-width: 768px;
  margin: 0 auto;
}
main h2{
  background:rgb(200, 160, 129);
  border: 1px solid rgb(151, 121, 98);
  padding: 18px 0;
  margin: 0;
}
h2+h2{
  background:rgb(220, 180, 149);
}
nav button{
  /* display: block; */
}
/* Shadows */
main button,
img,
.container,
.two-columns,
.instructions{
  box-shadow: 0 0 3px black;
}
img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
h2{
  text-align: center;
}
.container{
  max-width: 540px; 
  margin: 0 auto;
}
.two-columns{
  display: flex;  
  /* margin: 0 auto; */
  text-align: center;
  box-shadow: 1px, 5px, 15px, rgb(0, 0, 0);
  /* padding: 0 30%; */
}
h3{
  /* height: 30px; */
  align-items: middle;
  text-align: center;
  /* line-height: 45px; */
  /* margin: 200px 0; */
  padding-top: 15px;
  margin-top: 0;
  align-content: center;
}
.ingredients,
.measurements{
  flex: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ingredients li:nth-child(even),
.measurements li:nth-child(even){
  background:rgb(180, 142, 107);
}
.ingredients li:nth-child(odd),
.measurements li:nth-child(odd){
  background:rgb(200, 160, 129);
}
.ingredients{
  text-align: end;
}
.measurements{
  text-indent: 10px;
  text-align: left;
}
.instructions{
  max-width: 760px;
  padding: 0 10%;  
}
#add-favorite button{
  display: block;
  margin: 5px auto;
}
p{
  padding-bottom: 30px;
}
footer a{
  display: block;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
